<template>
	<hider :hide="hide">
		<slide @updatedScroll="updateVal"></slide>
		<hide-controls @hideControls="hideControls" @showControls="showControls"></hide-controls>
		<play></play>
		<mute></mute>
		<full-screen></full-screen>
		<play-speed></play-speed>
		<progress-bar></progress-bar>
	</hider>
	<div id="container"></div>
	<video id="video" loop muted crossOrigin="anonymous" playsinline style="display:none">
		<source :src="'/videos/' + video + '.mp4'">
	</video>
</template>
<script>

import * as THREE from 'three';
import FullScreen from '@/components/FullScreen.vue'
import HideControls from '@/components/HideControls.vue'
import Hider from '@/components/Hider.vue'
import Mute from '@/components/Mute.vue'
import ProgressBar from '@/components/ProgressBar.vue'
import Play from '@/components/Play.vue'
import PlaySpeed from '@/components/PlaySpeed'
import Slide from '@/components/Slide.vue'


let camera, scene, renderer;

let isUserInteracting = false,
	lon = 0, lat = 0,
	phi = 0, theta = 0,
	onPointerDownPointerX = 0,
	onPointerDownPointerY = 0,
	onPointerDownLon = 0,
	onPointerDownLat = 0,
	distance = 1000;

export default {

	components: {
		FullScreen,
		HideControls,
		Hider,
		Mute,
		Play,
		PlaySpeed,
		ProgressBar,
		Slide
	},

	data() {
		return {
			val: 0,
			hide: false,
			video: ''
		};
	},

	mounted() {

		this.video = this.$route.params.id;


		if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
			screen.orientation.lock('portrait-primary');

		this.init();
		this.animate();

	},

	methods: {

		hideControls: function () {

			this.hide = true;
			console.log('hide');

		},

		showControls: function () {

			this.hide = false;
			console.log('show');

		},

		updateVal: function (v) {

			var min = 60;
			var max = 160;

			var r = (max - min) * v / 100;
			var current = Math.floor(r + min);
			camera.fov = current;
			camera.updateProjectionMatrix();

		},

		init: function () {


			const container = document.getElementById('container');

			camera = new THREE.PerspectiveCamera(60, window.innerWidth / window.innerHeight, 1, 3000);
			scene = new THREE.Scene();

			const geometry = new THREE.SphereGeometry(1000, 60, 40);
			// invert the geometry on the x-axis so that all of the faces point inward
			geometry.scale(-1, 1, 1);

			const video = document.getElementById('video');
			video.play();

			const texture = new THREE.VideoTexture(video);
			const material = new THREE.MeshBasicMaterial({map: texture});

			const mesh = new THREE.Mesh(geometry, material);
			scene.add(mesh);

			renderer = new THREE.WebGLRenderer();
			renderer.setPixelRatio(window.devicePixelRatio);
			renderer.setSize(window.innerWidth, window.innerHeight);
			container.appendChild(renderer.domElement);

			document.addEventListener('pointerdown', this.onPointerDown);
			document.addEventListener('pointermove', this.onPointerMove);
			document.addEventListener('pointerup', this.onPointerUp);

			document.addEventListener('resize', this.onWindowResize);
			document.addEventListener('fullscreenchange', this.onWindowResize);
			document.addEventListener('touchmove', this.onTouchMove);

		},
		animate: function () {

			requestAnimationFrame(this.animate);
			this.update();

		},

		update: function () {

			lat = Math.max(-85, Math.min(85, lat));
			phi = THREE.MathUtils.degToRad(90 - lat);
			theta = THREE.MathUtils.degToRad(lon);

			camera.position.x = distance * Math.sin(phi) * Math.cos(theta);
			camera.position.y = distance * Math.cos(phi);
			camera.position.z = distance * Math.sin(phi) * Math.sin(theta);

			camera.lookAt(0, 0, 0);

			renderer.render(scene, camera);

		},
		onWindowResize: function () {

			setTimeout(function () {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize(window.innerWidth, window.innerHeight);
			}, 1000);


		},
		onPointerDown: function (event) {

			isUserInteracting = true;

			onPointerDownPointerX = event.clientX;
			onPointerDownPointerY = event.clientY;

			onPointerDownLon = lon;
			onPointerDownLat = lat;

		},

		onPointerMove: function (event) {

			if (isUserInteracting === true) {

				lon = (onPointerDownPointerX - event.clientX) * 0.1 + onPointerDownLon;
				lat = (onPointerDownPointerY - event.clientY) * 0.1 + onPointerDownLat;

			}

		},

		onTouchMove: function (event) {


			lon = (onPointerDownPointerX - event.touches[0].clientX) * 0.3 + onPointerDownLon;
			lat = (onPointerDownPointerY - event.touches[0].clientY) * 0.3 + onPointerDownLat;


		},

		onPointerUp: function () {

			isUserInteracting = false;

		}

	}

}

</script>