<template>
	<div class="fullscreen-container">
		<div class="icon" @click="fullscreen = !fullscreen"></div>
	</div>
</template>
<style lang="scss">
	.fullscreen-container{
		position: fixed;
		top: 20px;
		right: 150px;

		.icon{

			width: 30px;
			height: 30px;

			mask: url('../assets/fullscreen.svg') no-repeat;
			mask-size: contain;
			background: #cdcccc;

			cursor: pointer;

		}

	}
</style>
<script>
	export default{

		data(){

			return {

				fullscreen: false

			}

		},
		watch: {

			fullscreen: function(val){

				var video = document.getElementById('video');

				if(val){
					video.requestFullscreen();
				}
				else{
					document.exitFullscreen();
				}

			}

		}

	}
</script>