<template>
	<div class="hide-controls-container">
		<div class="button" @click="hideControls"></div>
	</div>
</template>
<style lang="scss">
	.hide-controls-container{

		position: fixed;
		top: 20px;
		right: 20px;

		z-index: 10;

		.button{

			width: 30px;
			height: 30px;

			background: #db1544;

			border-radius: 40px;
			opacity: 0.8;

		}

	}
</style>
<script>

export default{


	methods: {

		hideControls: function(){

			this.$emit('hideControls');
			this.hide = true;

			setTimeout(() => this.showControls(), 5000);

		},
		showControls: function(){

			this.hide = false;
			this.$emit('showControls');

		}

	}

}

</script>