<template>
	<div class="mute-container">
		<div class="content">
			<div class="mute" v-show="!muted" @click="muted = true"></div>
			<div class="unmute" v-show="muted" @click="muted = false"></div>
		</div>
	</div>
</template>
<style lang="scss">

.mute-container{

	position: fixed;
	top: 24px;
	right: 105px;

	z-index: 10;

	.content{

		position: relative;

		.mute,
		.unmute{

			width: 30px;
			height: 30px;

			cursor: pointer;

		}

		.mute{

			mask: url('../assets/mute.svg') no-repeat;
			mask-size: contain;
			background: #1ab183;

		}

		.unmute{

			mask: url('../assets/unmute.svg') no-repeat;
			mask-size: contain;
			background: #cdcccc;

		}

	}

}

</style>
<script>

	export default{

		data(){
			return {
				muted: true
			}
		},
		watch: {

			muted: function(val){

				var video = document.getElementById('video');
				video.muted = val;

			}

		}

	}

</script>