<template>
	<div class="playspeed-container">
		<div class="item" :class="{'current': current == 0.25}" @click="current = 0.25">0.25x</div>
		<div class="item" :class="{'current': current == 0.5}" @click="current = 0.5">0.5x</div>
		<div class="item" :class="{'current': current == 1}" @click="current = 1">1x</div>
		<div class="item" :class="{'current': current == 2}" @click="current = 2">2x</div>
		<div class="item" :class="{'current': current == 4}" @click="current = 4">4x</div>
	</div>
</template>
<style lang="scss">
	.playspeed-container{

		position: fixed;
		top: 80px;
		right: 20px;

		.item{

			width: 40px;
			text-align: right;

			color: #cdcccc;

			font-size: 16px;

			margin-bottom: 5px;

			cursor: pointer;

			&.current{

				font-weight: bold;
				color: #1ab183;

			}

		}



	}
</style>
<script>
	export default{


		data(){

			return {
				current: 1
			}

		},

		watch: {

			current: function(val){

				var video = document.getElementById('video');
				video.playbackRate = val;

			}

		}

	}
</script>