<template>
	<div class="play-container">
		<div class="content">
			<div class="play" v-show="!playing" @click="playing = true"></div>
			<div class="pause" v-show="playing" @click="playing = false"></div>
		</div>
	</div>
</template>
<style lang="scss">

.play-container{

	position: fixed;
	top: 20px;
	right: 60px;

	z-index: 10;

	.content{

		position: relative;

		.play,
		.pause{

			width: 30px;
			height: 30px;

			cursor: pointer;

		}

		.play{

			mask: url('../assets/play.svg') no-repeat;
			mask-size: contain;
			background: #1ab183;

		}

		.pause{

			mask: url('../assets/pause.svg') no-repeat;
			mask-size: contain;
			background: #cdcccc;

		}

	}

}

</style>
<script>

	export default{

		data(){
			return {
				playing: true
			}
		},
		watch: {

			playing: function(val){

				var video = document.getElementById('video');

				if(val){
					video.play();
				}
				else{
					video.pause();
				}

			}

		}

	}

</script>