<template>
	<div class="progress-container">
		<div ref="bar" class="bar" @click="setProgress">
			<div class="progress" :style="{ width: percentage + '%' }"></div>
		</div>
	</div>
</template>
<style lang="scss">
	.progress-container{

		position: fixed;
		bottom: 40px;
		left: 0;

		z-index: 10;

		width: 100vw;

		opacity: 0.8;

		.bar{

			width: 95%;
			height: 20px;
			background: #2f727b;

			margin: 0 auto;

			border-radius: 10px;
			overflow: hidden;

			.progress{

				float: left;
				height: 20px;

				background: #50c7d5;

				width: 0%;

				transition: width 0.01s;

				border-radius: 10px;

			}

		}

	}
</style>
<script>
	export default{

		data(){
			return {
				percentage: 0,
				video: null
			};
		},

		mounted(){

			this.video = document.getElementById('video');
			this.video.ontimeupdate = this.update;

		},

		methods: {

			update: function(){

				this.percentage = (this.video.currentTime / this.video.duration) * 100;

			},
			setProgress: function(e){

				var percentage = (e.offsetX / this.$refs.bar.clientWidth);
				this.video.currentTime = this.video.duration * percentage;

			}

		}

	}
</script>