<template>
	<div class="slide-container">
		<div class="bar">
			<div class="square" :style="{top: pos + 'px'}"
				@mousedown="enableScroll" @mouseup="disableScroll" @mouseleave="disableScroll"
				@touchstart="enableScroll" @touchend="disableScroll"
			></div>
		</div>
	</div>
</template>
<style lang="scss">

	.slide-container{

		position: fixed;
		top: 30px;
		left: 30px;

		z-index: 10;

	}
	.bar{


		width: 2px;
		height: 100px;
		background: #a6a6ba;

		position: relative;

		.square{

			width: 20px;
			height: 20px;

			background: #cdcccc;

			border-radius: 3px;

			position: absolute;
			left: -9px;

		}

	}
</style>
<script>
export default{

	data(){
		return {
			pos: 0,
			click: false,
			mouseY: 0,
			initialPos: false,
			max: 100
		}
	},

	methods: {

		scroll: function(e){

				e.preventDefault();

				if(this.click || e.type == 'touchmove') {

					var tmp;

					if (e.type == 'touchmove')
						tmp = e.touches[0].clientY - this.mouseY + this.initialPos;
					else
						tmp = e.clientY - this.mouseY + this.initialPos;

					if (tmp < 0)
						tmp = 0;

					if (tmp > this.max)
						tmp = this.max;

					this.pos = tmp;

					this.$emit('updatedScroll', this.pos);

				}


		},

		enableScroll: function(e){

			e.preventDefault();

			this.click = true;

			if(e.type == 'touchstart'){
				this.mouseY = e.touches[0].clientY;
			}
			else {
				this.mouseY = e.clientY;
			}
			this.initialPos = this.pos;
			this.$el.addEventListener('mousemove', this.scroll);
			this.$el.addEventListener('touchmove', this.scroll);

		},

		disableScroll: function(){

			this.click = false;
			this.$el.removeEventListener('mousemove', () => this.scroll);
			this.$el.removeEventListener('touchmove', () => this.scroll);

		}

	}

}
</script>