<template>
	<router-view/>
</template>
<style>
	body,html{
		padding: 0;
		margin: 0;
		overscroll-behavior-y: contain;
		font-family: Open Sans;
	}
	.hide-me{
		transition: opacity 0.3s;
		opacity: 0 !important;
	}
</style>